.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}

.pic1 {
  width: 10vw;
  margin-right: 5vw;
  animation: aa 3s linear forwards;


}





@keyframes aa {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}