.sample2 {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.line1 {
  font-size: 1vw;
}

.line2 {
  font-size: 0.5vw;
}

.top {
  border-top: 1px solid white;
}