@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

* {
  font-family: "Cormorant Garamond", serif;
}

.App {
  padding: 0px 5vw;
  display: flex;
  justify-content: center;
  position: relative;

  flex-direction: column;
}

body {
  margin: 0;
}

.white {
  background-color: white;
}

.green {
  background-color: #738B8C;
  transition: background-color 1s;

}